In [23]:
import pandas as pd
test1 = pd.read_csv("./test.csv")
test1.columns=['year','num']
test1.head()

   year  num
0  2008   20
1  2009   17
2  2019   20
3  2008   20
4  2009   19

In [24]:
allyears=test1["year"].unique()
meanVal=[0 for _ in range(len(allyears))]
countVal=[0 for _ in range(len(allyears))]

dictYear = dict(zip(allyears,meanVal))
countYear = dict(zip(allyears,countVal))

In [25]:
def meanDataframe(x):
    dictYear[x['year']]+=x['num']
    countYear[x['year']]+=1

test1.apply(lambda x:meanDataframe(x),axis=1)
# test1.columns
# test1.apply(lambda x:print(x['year']),axis=1)
dictYear

{2008: 40, 2009: 36, 2019: 20}