In [1]:
import pandas as pd
test1 = pd.read_csv("./test.csv")
test1.columns=['year','num']
test1.head()

   year  num
0  2008   20
1  2009   17
2  2019   20
3  2008   20
4  2009   19

In [24]:
allyears=test1["year"].unique()
meanVal=[0 for _ in range(len(allyears))]
countVal=[0 for _ in range(len(allyears))]

dictYear = dict(zip(allyears,meanVal))
countYear = dict(zip(allyears,countVal))

In [25]:
def meanDataframe(x):
    dictYear[x['year']]+=x['num']
    countYear[x['year']]+=1

test1.apply(lambda x:meanDataframe(x),axis=1)
# test1.columns
# test1.apply(lambda x:print(x['year']),axis=1)
dictYear

{2008: 40, 2009: 36, 2019: 20}

In [29]:
import pandas as pd
import numpy as np
nd_two = np.array([[1, 2,1], [1, 2,1], [1, 2,1], [1, 2,1]])
# df=pd.DataFrame(data=[[1, 2,1], [1, 2,1], [1, 2,1], [1, 2,1]],columns=["gz"],index=[0,1,2,3])
df = pd.DataFrame(
    {'trial_num': [1, 2, 3, 1, 2, 3],
     'subject': [1, 1, 1, 2, 2, 2],
     'samples': [list(np.arange(1)) for i in range(6)]
    }
)
df

   trial_num  subject samples
0          1        1     [0]
1          2        1     [0]
2          3        1     [0]
3          1        2     [0]
4          2        2     [0]
5          3        2     [0]

In [27]:
def computeList(item):
    zeroNum,oneNum,twoNum,threeNulm=item.count(0),item.count(1),item.count(2),item.count(3)
    if zeroNum==len(item):
        return False
    else:
        return True

df[df['samples'].apply(computeList)]

Empty DataFrame
Columns: [trial_num, subject, samples]
Index: []

   trial_num  subject samples
0          1        1     [0]
1          2        1     [0]
2          3        1     [0]
3          1        2     [0]
4          2        2     [0]
5          3        2     [0]